body{
    background-color: #7c7c7c;
    
    

    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 40px auto;
    text-align: center

}

.consFolga{
    background-color: rgb(41, 226, 229);
    padding: 20px;
    border: 3px solid #000;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    gap: 20px;

    
}

input#nmr{
    width: 40px;
}
button{
    width: 175px;
    height: 50px;
    background-color: rgb(255, 162, 0);
    color: rgb(49, 49, 49);
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(49, 49, 49);
    color:rgb(255, 162, 0);
}
button{
    margin: 20px;
}

.resCons{
    display: flex;
    flex-direction: row;
}



.cardFolga {
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;

  }
  
  .cardFolg {
    color: rgb(253, 253, 253);
    font-size: 24px;
    font-weight: bold;
  }
  
  /*.cardTrab {
    background-color: rgb(242, 110, 110);
    color: rgb(199, 194, 194);
    font-size: 24px;
    font-weight: bold;
  }*/
  